nav{
    background-color: #222326;
}
.nav__menu{
    width: 75%;
    position: sticky;
    top: 0;

}
.nav__menu ul{
    margin: 0;
    padding: 0;
}
.nav__menu ul li{
        list-style: none;
    display: inline-block;
    color: white;
}

.nav__menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    padding: 18px;
}
.nav__menu ul li a:hover{
    background-color: #696969 ;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.nav__search{
    color:white;
    text-align: right;
    width: 25%;
}
